userPrincipalName,teamNumber
hackuser-001@yourtenant.onmicrosoft.com,1
hackuser-002@yourtenant.onmicrosoft.com,2
hackuser-003@yourtenant.onmicrosoft.com,3
hackuser-004@yourtenant.onmicrosoft.com,4
hackuser-005@yourtenant.onmicrosoft.com,5
